<div class="crt-overlay">
  <div class="crt-overlay__scanlines"></div>
  <div class="crt-overlay__vignette"></div>
  <div class="crt-overlay__flicker"></div>
  <div class="crt-overlay__grain"></div>
</div>
